.startButton{
    -fx-background-image: url("../img/buttons/start-button.png");
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-size: 100% 100%;
    -fx-background-position: center;
}

.startButton:hover{
    -fx-opacity: 0.85;
    -fx-cursor: hand;
}