.giveUpButton{
    -fx-background-image: url("../img/buttons/start-button.png");
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-size: 100% 100%;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.giveUpButton:hover{
    -fx-opacity: 0.85;
    -fx-cursor: hand;
}

.statusBar{
    -fx-border-color: transparent;
}
.giveUpConfirmation{
    -fx-background-color: red;
    -fx-background-radius: 10px;
}

.yesButton, .noButton{
    -fx-background-color: transparent;
    -fx-background-size: 100% 100%;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}
.yesButton {
    -fx-background-image: url("../img/buttons/yes-button.png");
}
.noButton{
    -fx-background-image: url("../img/buttons/no-button.png");
}
.yesButton:hover, .noButton:hover{
    -fx-opacity: 0.85;
    -fx-cursor: hand;
}