.levelButton{
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-size: 100% 100%;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.button:hover{
    -fx-opacity: 0.85;
    -fx-cursor: hand;
}

.type1LevelButton{
    -fx-background-image: url("../img/buttons/type-1-level-button.png");
}
.type2LevelButton{
    -fx-background-image: url("../img/buttons/type-2-level-button.png");
}
.type3LevelButton{
    -fx-background-image: url("../img/buttons/type-3-level-button.png");
}
.type4LevelButton{
    -fx-background-image: url("../img/buttons/type-4-level-button.png");
}


.homeButton{
    -fx-background-image: url("../img/buttons/home-button.png");
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-size: 100% 100%;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}